<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/user/addUser">
    用户名：<input type="text"name="uname"/><br>
    密码：<input type="password"name="password"/><br>
    真实姓名：<input type="text"name="realname"/><br>
    电话号码:<input type="text"name="phone"/><br>
    身份证：<input type="text"name="idcard"/><br>
    地址：<input type="text"name="address"/><br>
    状态：<input type="text"name="state"/><br>
    留言：<input type="text"name="message"/><br>
    <button type="submit">注册</button>
</form>
</body>
</html>