<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="~{fragments/header :: header}">
</head>

<body class="hold-transition skin-purple sidebar-mini">

<div class="wrapper">

    <!-- 页面头部 -->
    <header class="main-header">


        <!-- Logo -->
        <a href="all-admin-index.html" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>数据</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>数据</b>后台管理</span>
        </a>


        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    <li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="label label-success">4</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">你有4个邮件</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <!-- start message -->
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="../../static/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                            </div>
                                            <h4>
                                                系统消息
                                                <small><i class="fa fa-clock-o"></i> 5 分钟前</small>
                                            </h4>
                                            <p>欢迎登录系统?</p>
                                        </a>
                                    </li>
                                    <!-- end message -->
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="../../static/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                                            </div>
                                            <h4>
                                                团队消息
                                                <small><i class="fa fa-clock-o"></i> 2 小时前</small>
                                            </h4>
                                            <p>你有新的任务了</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="../../static/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                                            </div>
                                            <h4>
                                                Developers
                                                <small><i class="fa fa-clock-o"></i> Today</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="../../static/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                                            </div>
                                            <h4>
                                                Sales Department
                                                <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="../../static/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                                            </div>
                                            <h4>
                                                Reviewers
                                                <small><i class="fa fa-clock-o"></i> 2 days</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">See All Messages</a></li>
                        </ul>
                    </li>
                    <!-- Notifications: style can be found in dropdown.less -->
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">10</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">你有10个新消息</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-warning text-yellow"></i> Very long description here that
                                            may not
                                            fit into the page and may cause design problems
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-red"></i> 5 new members joined
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-user text-red"></i> You changed your username
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">View all</a></li>
                        </ul>
                    </li>
                    <!-- Tasks: style can be found in dropdown.less -->
                    <li class="dropdown tasks-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-flag-o"></i>
                            <span class="label label-danger">9</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">你有9个新任务</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <!-- Task item -->
                                        <a href="#">
                                            <h3>
                                                Design some buttons
                                                <small class="pull-right">20%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-aqua" style="width: 20%"
                                                     role="progressbar" aria-valuenow="20" aria-valuemin="0"
                                                     aria-valuemax="100">
                                                    <span class="sr-only">20% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                    <li>
                                        <!-- Task item -->
                                        <a href="#">
                                            <h3>
                                                Create a nice theme
                                                <small class="pull-right">40%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-green" style="width: 40%"
                                                     role="progressbar" aria-valuenow="20" aria-valuemin="0"
                                                     aria-valuemax="100">
                                                    <span class="sr-only">40% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                    <li>
                                        <!-- Task item -->
                                        <a href="#">
                                            <h3>
                                                Some task I need to do
                                                <small class="pull-right">60%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-red" style="width: 60%"
                                                     role="progressbar" aria-valuenow="20" aria-valuemin="0"
                                                     aria-valuemax="100">
                                                    <span class="sr-only">60% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                    <li>
                                        <!-- Task item -->
                                        <a href="#">
                                            <h3>
                                                Make beautiful transitions
                                                <small class="pull-right">80%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-yellow" style="width: 80%"
                                                     role="progressbar" aria-valuenow="20" aria-valuemin="0"
                                                     aria-valuemax="100">
                                                    <span class="sr-only">80% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="#">View all tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="../../static/img/user2-160x160.jpg" class="user-image" alt="User Image">
                            <span class="hidden-xs"sec:authentication="name">张猿猿</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="../../static/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                                <p sec:authentication="name">张猿猿</p> <p sec:authentication="name">张猿猿</p>
                            </li>
                            <!-- Menu Body
                    <li class="user-body">
                        <div class="row">
                            <div class="col-xs-4 text-center">
                                <a href="#">Followers</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">Sales</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">Friends</a>
                            </div>
                        </div>
                    </li>-->
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">修改密码</a>
                                </div>
                                <div class="pull-right">
                                    <a href="/logout" class="btn btn-default btn-flat">注销</a>
                                </div>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
    </header>
    <!-- 页面头部 /-->

    <!-- 导航侧栏 -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="../../static/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p sec:authentication="name">张猿猿</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
                </div>
            </div>
            <!-- search form -->
            <!--<form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="搜索...">
            <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
            </button>
          </span>
        </div>
    </form>-->
            <!-- /.search form -->


            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">菜单</li>

                <li id="admin-index"><a href="../../"><i class="fa fa-dashboard"></i> <span>首页</span></a>
                </li>

                <!-- 菜单 -->


                <li class="treeview ">
                    <a href="#">
                        <i class="fa fa-folder"></i> <span>客户管理</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    </a>
                    <ul class="treeview-menu">

                        <li id="admin-login">
                            <a href="../../user/list">
                                <i class="fa fa-circle-o"></i> 客户数据
                            </a>
                        </li>

                        <li id="admin-register" >
                            <a href="../../user/add">
                                <i class="fa fa-circle-o"></i> 客户增加
                            </a>
                        </li>

                        <li id="admin-404">
                            <a href="#">
                                <i class="fa fa-circle-o"></i> 客户更新
                            </a>
                        </li>


                    </ul>
                </li>
                <li class="treeview "sec:authorize="hasRole('ADMIN')">
                    <a href="#">
                        <i class="fa fa-folder"></i> <span>雇员管理</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    </a>
                    <ul class="treeview-menu">

                        <li id="admin-login">
                            <a href="../../Emp/list">
                                <i class="fa fa-circle-o"></i> 雇员数据
                            </a>
                        </li>

                        <li id="admin-register">
                            <a href="../../Emp/add">
                                <i class="fa fa-circle-o"></i> 雇员增加
                            </a>
                        </li>

                        <li id="admin-404">
                            <a href="#">
                                <i class="fa fa-circle-o"></i> 雇员更新
                            </a>
                        </li>


                    </ul>
                </li>
                <li class="treeview ">

                    <a href="#">
                        <i class="fa fa-folder"></i> <span>楼层管理</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    </a>
                    <ul class="treeview-menu ">

                        <li id="admin-login">
                            <a href="../../Floorlist">
                                <i class="fa fa-circle-o"></i> 楼层数据
                            </a>
                        </li>

                        <li id="admin-register" >
                            <a href="../../Floor/add">
                                <i class="fa fa-circle-o"></i> 楼层增加
                            </a>
                        </li>

                        <li id="admin-404">
                            <a href="#">
                                <i class="fa fa-circle-o"></i> 楼层更新
                            </a>
                        </li>


                    </ul>
                </li>
                <li class="treeview active">

                    <a href="#">
                        <i class="fa fa-folder"></i> <span>房型管理</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    </a>
                    <ul class="treeview-menu">

                        <li id="admin-login">
                            <a href="../list">
                                <i class="fa fa-circle-o"></i> 房型数据
                            </a>
                        </li>

                        <li id="admin-register">
                            <a href="../add">
                                <i class="fa fa-circle-o"></i> 房型增加
                            </a>
                        </li>

                        <li id="admin-404" class="active">
                            <a href="#">
                                <i class="fa fa-circle-o"></i> 房型更新
                            </a>
                        </li>


                    </ul>
                </li>
                <li class="treeview">

                    <a href="#">
                        <i class="fa fa-folder"></i> <span>房间管理</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    </a>
                    <ul class="treeview-menu">

                        <li id="admin-login">
                            <a href="../../Room/list">
                                <i class="fa fa-circle-o"></i> 房间数据
                            </a>
                        </li>

                        <li id="admin-register">
                            <a href="../../Room/add">
                                <i class="fa fa-circle-o"></i> 房间增加
                            </a>
                        </li>

                        <li id="admin-404">
                            <a href="#">
                                <i class="fa fa-circle-o"></i> 房间更新
                            </a>
                        </li>


                    </ul>
                </li>
                <li class="treeview">

                    <a href="#">
                        <i class="fa fa-folder"></i> <span>入住管理</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    </a>
                    <ul class="treeview-menu">

                        <li id="admin-login">
                            <a href="../../Order/list">
                                <i class="fa fa-circle-o"></i> 入住数据
                            </a>
                        </li>

                        <li id="admin-register">
                            <a href="../../Order/add">
                                <i class="fa fa-circle-o"></i> 入住增加
                            </a>
                        </li>

                        <li id="admin-404">
                            <a href="#">
                                <i class="fa fa-circle-o"></i> 入住更新
                            </a>
                        </li>


                    </ul>
                </li>
                <li class="treeview"sec:authorize="hasRole('ADMIN')">

                    <a href="#">
                        <i class="fa fa-folder"></i> <span>营销管理</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    </a>
                    <ul class="treeview-menu">

                        <li id="admin-login">
                            <a href="../../chart">
                                <i class="fa fa-circle-o"></i> 营销额图
                            </a>


                    </ul>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <!-- 导航侧栏 /-->

    <!-- 内容区域 -->
    <!-- @@master = admin-layout.html-->
    <!-- @@block = content -->

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                房型管理
                <small>房型更新</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li><a href="#">房型管理</a></li>
                <li class="active">房型更新</li>
            </ol>
        </section>
        <!-- 内容头部 -->

        <form method="post" action="/Roomtype/update">
            <div class="row data-type">
                <input type="hidden" th:value="${Roomtype.roomtypeid}"  name="roomtypeid"><br>
                <div class="col-md-2 title">名称</div>
                <div class="col-md-4 data text">
                    <input type="text" class="form-control" placeholder="文本" value=""name="roomtypename" th:value="${Roomtype.roomtypename}">
                </div>
                <div class="col-md-2 title">价格</div>
                <div class="col-md-4 data text">
                    <input type="text" class="form-control" placeholder="文本" value=""name="price" th:value="${Roomtype.price}">
                </div>
                <div class="col-md-2 title">床位数</div>
                <div class="col-md-4 data text">
                    <input type="text" class="form-control" placeholder="文本" value=""name="bed"th:value="${Roomtype.bed}">
                </div>
                <div class="col-md-2 title">可用房间数</div>
                <div class="col-md-4 data text">
                    <input type="text" class="form-control" placeholder="文本" value=""name="roomnumber"th:value="${Roomtype.roomnumber}">
                </div>
                <div class="col-md-2 title">已预定数</div>
                <div class="col-md-4 data text">
                    <input type="text" class="form-control" placeholder="文本" value=""name="booked"th:value="${Roomtype.booked}">
                </div>
                <div class="col-md-2 title">已入住数</div>
                <div class="col-md-4 data text">
                    <input type="text" class="form-control" placeholder="文本" value=""name="checkedin"th:value="${Roomtype.checkedin}">
                </div>
                <div class="col-md-2 title">状态</div>
                <div class="col-md-4 data text">
                    <input type="text" class="form-control" placeholder="文本" value=""name="state"th:value="${Roomtype.state}">
                </div>
                <div class="col-md-2 title">房间类型备注</div>
                <div class="col-md-4 data text">
                    <input type="text" class="form-control" placeholder="文本" value=""name="message"th:value="${Roomtype.message}">
                </div>






                <div class="col-md-12 data text-center">
                    <button type="submit" class="btn bg-maroon">保存</button>

                </div>


            </div>
        </form>
        <!-- 正文区域 /-->
        </form>
    </div>
    <!-- @@close -->
    <!-- 内容区域 /-->

    <!-- 底部导航 -->
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.8
        </div>
        <strong>Copyright &copy; 2014-2017 <a href="http://www.itcast.cn">研究院研发部</a>.</strong> All rights reserved.
    </footer>
    <!-- 底部导航 /-->

</div>


<div th:replace="~{fragments/footer :: footer}">...</div>
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>

<script>
    $(document).ready(function () {
        // 选择框
        $(".select2").select2();

        // WYSIHTML5编辑器
        $(".textarea").wysihtml5({
            locale: 'zh-CN'
        });
    });


    // 设置激活菜单
    function setSidebarActive(tagUri) {
        var liObj = $("#" + tagUri);
        if (liObj.length > 0) {
            liObj.parent().parent().addClass("active");
            liObj.addClass("active");
        }
    }


    $(document).ready(function () {

        // 激活导航位置
        setSidebarActive("admin-datalist");

        // 列表按钮
        $("#dataList td input[type='checkbox']").iCheck({
            checkboxClass: 'icheckbox_square-blue',
            increaseArea: '20%'
        });
        // 全选操作
        $("#selall").click(function () {
            var clicks = $(this).is(':checked');
            if (!clicks) {
                $("#dataList td input[type='checkbox']").iCheck("uncheck");
            } else {
                $("#dataList td input[type='checkbox']").iCheck("check");
            }
            $(this).data("clicks", !clicks);
        });
    });
</script>
</body>

</html>