<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/Room/addRoom" enctype="multipart/form-data">
    图片：<input type="file"name="picture"/><br>
    房间号码：<input type="text"name="roomnumber"/><br>
    类型：<input type="text"name="type"/><br>
    楼层:<input type="text"name="floorid"/><br>
    状态：<input type="text"name="state"/><br>
    备注：<input type="text"name="message"/><br>

    <button type="submit">注册</button>
</form>
</body>
</html>